
p{

    background-color: red;
    color: white;
}
div{
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    height: 60px;
    width: 60px;
}
a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: green;

}

.ch:checked {
    
    display: none;
}

a:visited{
     color: red;
}
div:empty{
    border: 10px solid red;
}
.in{
    border: 2px solid black;
 
}
.in:focus{
    border-color: yellow;
 outline: none;
}
